@model IEnumerable<BooksViewModel>

<head>
    <link rel="stylesheet" href="BookFavorite.cshtml.css">
</head>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Date of reading:</th>
            <th>Pages</th>
            <th>Author:</th>
            <th>ISBN</th>
            <th>Publishing year:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BooksViewModel book in this.Model)
        {
            <tr>
                <td>
                    <img class="card-ing-top" src="@book.Image" alt="Book Image" height="150" width="100">
                </td>
                <td>@book.Title</td>
                <td>@DateTime.Now.ToString()</td>
                <td>@book.Pages</td>
                <td>@book.Author</td>
                <td>@book.ISBN</td>
                <td>@book.PublishingYear</td>
                <td>
                    <a asp-controller="Book" asp-action="RemoveFromFavorites" asp-route-bookId="@book.Id" class="btn btn-warning remove-favorite-button">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>