@model IEnumerable<BooksViewModel>


<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>DateOfReading</th>
            <th>Pages</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>BookCover</th>
            <th>PublishingYear</th>
            <th>Publisher</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BooksViewModel book in this.Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@DateTime.Now.ToString()</td>
                <td>@book.Pages</td>
                <td>@book.Author</td>
                <td>@book.ISBN</td>
                <td>
                    <img class="card-ing-top" src="@book.Image" alt="Book Image" height="80" width="50">
                </td>
                <td>@book.PublishingYear</td>
                <td>@book.PublisherName</td>
            </tr>
        }
    </tbody>
</table>