@model IEnumerable<BooksViewModel>

<h3>Search by publishing house:</h3>
<body>
    <div>
        <form asp-action="FindByPublishingHouse" id="search" method="post">
            <div class="input-group md-form form-sm form-2 pl-0">
                <input name="publishingHouse" class="form-control my-0 py-1 red-border" type="text" placeholder="Search..." />
                <div class="input-group-append">
                    <span class="input-group-text">
                        <input type="submit" value="Search" />
                    </span>
                </div>
            </div>
        </form>
    </div>
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Pages</th>
                    <th>Author</th>
                    <th>Publishing House</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model)
                {
                    <tr>
                        <td>
                            <img src="@book.Image" alt="Book Image">
                        </td>
                        <td>@book.Title</td>
                        <td>@book.Pages</td>
                        <td>@book.Author</td>
                        <td>@book.PublisherName</td>
                        <td>@book.Price (lv.)</td>
                    </tr>
                }
            </tbody>
        </table>
    }

</body>
