@model IEnumerable<BooksViewModel>
<div>
@if (User.IsInRole("Administrator") || User.IsInRole("Writer") || User.IsInRole("Redactor"))
{
        <a asp-controller="Book" asp-action="Add" class="btn btn-primary" style="background-color:#FFAE42; border-color:#FFAE42">Add Book</a>
}
</div>
<div class="text-center row">
    @foreach (var book in Model)
    {
        <div class="card col-4" style="width: 20rem; background-color:#FFAE42; padding:4px; margin:5px; border-radius:15px">
            <img class="card-img-top" src="@book.Image" height="350" alt="Book Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@book.Title</h5>
                <p class="mb-0">Author: @book.Author</p>
                <p class="mb-0">Pages: @book.Pages</p>
                <p class="mb-0">ISBN: @book.ISBN</p>
                <p class="mb-0">Year of publishing: @book.PublishingYear</p>
                <p>Publisher: @book.PublisherName</p>
            </div>
            @if (User.IsInRole("Reader") || User.IsInRole("Writer") || User.IsInRole("Redactor"))
            {
                <form class="input-group-sm" asp-controller="Book" asp-action="ReadBook" asp-route-id="@book.Id" method="post">
                    <input type="submit" value="Mark as read" class="fs-6 btn btn-success mb-3 p-2" />
                </form>
                <form class="input-group-sm" asp-controller="Book" asp-action="FavoriteBook" asp-route-id="@book.Id" method="post">
                    <input type="submit" value="Mark as favorite" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
            }
            @if (User.IsInRole("Redactor") || User.IsInRole("Writer") || User.IsInRole("Administrator"))
            {
             <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id" class="btn btn-warning">Delete</a>
            }
        </div>

    }
</div>