@model IEnumerable<BooksViewModel>
<head>
    <link rel="stylesheet" href="Index.cshtml.css">
</head>
<body>
<div>
    <form asp-action="Index" id="search" method="post">
        <div class="input-group md-form form-sm form-2 pl-0">
            <input name="bookname" class="form-control my-0 py-1 red-border" type="text" placeholder="Search..." />
            <div class="input-group-append">
                <span class="input-group-text red lighten-3" style="background-color:#FFAE42">
                    <input type="submit" value="Search" style="border:none; background-color:#FFAE42" />

                </span>
            </div>
        </div>
    </form>


</div>

<p></p>

<div>
    @if (User.IsInRole("Administrator") || User.IsInRole("Writer") || User.IsInRole("Redactor"))
    {
        <a asp-controller="Book" asp-action="Add" class="btn btn-primary" style="background-color:#FFAE42; border-color:#FFAE42">Add Book</a>
    }
</div>
<div class="text-center row">
    @foreach (var book in Model)
    {
        <div class="card col-4" style="width: 20rem; background-color:#FFAE42; padding:10px; margin:5px; border-radius:10px">
            <img class="card-img-top" src="@book.Image" height="450" alt="Book Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@book.Title</h5>
                <p class="mb-0">Author: @book.Author</p>
                <p class="mb-0">Pages: @book.Pages</p>
                <p class="mb-0">ISBN: @book.ISBN</p>
                <p class="mb-0">Year of publishing: @book.PublishingYear</p>
                <p>Publisher: @book.PublisherName</p>
                <p>Price: @book.Price:f2 (lv.)</p>
            </div>
            @if (User.IsInRole("Reader") || User.IsInRole("Writer") || User.IsInRole("Redactor"))
            {


                    <div class="action-buttons">
                        <form class="input-group-sm" asp-controller="Book" asp-action="FavoriteBook" asp-route-id="@book.Id" method="post">
                            <button type="submit" class="fs-6 btn btn-success mb-3 p-2 favorite-button">
                                <span>♡</span>
                            </button>
                        </form>

                        <form class="input-group-sm" asp-controller="Book" asp-action="ReadBook" asp-route-id="@book.Id" method="post">
                            <input type="submit" value="Mark as read" class="fs-6 btn btn-success mb-3 p-2 read-button" />
                        </form>
                    </div>

            }

            @if (User.IsInRole("Redactor") || User.IsInRole("Writer") || User.IsInRole("Administrator"))
            {
                    <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id" class="btn btn-warning delete-button">
                        Delete
                    </a>



 
            }
        </div>
        
    }
</div>
</body>